<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block title %}Password Change{% endblock title %}
        {% block content %}
        <h1>Password change</h1>
        <p>Please enter your old password, for security's sake, and then enter your
        new password twice so we can verify you typed it in correctly.</p>
        <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input style="width: 150px; background-color: black; border-radius: 10px; color: aliceblue;" type="submit" value="Change my password">
        <a href="{% url 'home' %}">home</a>

        {% endblock content %}
   

    </body>
</html>





