<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home baby</title>

    
</head>
    {% extends 'base.html' %}       
    {% block title %}Home{% endblock title %}
    {% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <h1>welcome to the dark side</h1>

    {% else %}
        <p>You are not logged in</p>
     
    {% endif %}
    {% endblock content %}

</html>